<menu class="social-media-share">
    <a href="http://www.facebook.com/oli.griffiths" class="icon-facebook" rel="external" title="My Facebook"></a>
    <a href="http://www.twitter.com/oligriffiths" class="icon-twitter" rel="external" title="My Twitter"></a>
    <a href="http://plus.google.com/+OliGriffiths84" class="icon-googleplus" rel="external" title="My Google+"></a>
    <a href="http://www.linkedin.com/oligriffiths84" class="icon-linkedin" rel="external" title="My LinkedIn"></a>
    <a href="http://www.github.com/oligriffiths" class="icon-github" rel="external" title="My GitHub"></a>
</menu>